<h1>New Service</h1>
<p>Services are what you make money from. The description will appear on the invoice.</p>

<%= error_messages_for :service %>

<% form_for(:service, :url => services_path) do |f| %>
	<%= render(:partial => 'form', :object => @service, 
			:locals => {
				:button_label => 'Create service',
				:f => f
			 }) %>
	<%= update_button %>			
<% end %>

