/* Begin Typography & Colors */
body {
	font-size: 62.5%; /* Resets 1em to 10px */
	font-family: 'Lucida Grande', Arial, Verdana, Sans-Serif;
	background-color: white;
	color: black;
	margin: 0;
 	padding: 0;
	background-color: #fff;
}
a {
	color: #37779f;
	text-decoration: none;
	padding: 2px;
}
a:hover {
	color: white;
	background-color: #37779f;
}
/* main page container */
#content {
	margin: 2em;
	width: 770px;
	position:relative;
}
/* all lists on this page share */
#content ul {
	list-style: none;
	font-size: 1.2em;
}
/* the logo and invoice top */
div#header {
	display: block;
	height: auto;
}
#header img {
	padding:0 3px;
	margin: 0;
}
#header ul {
	color: #666;
	display: block;
	margin: 0;
	padding: 0 10px;
}

pre {
  background-color: #eee;
  padding: 0px;
  font-size: 1.3em;
  width:25em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* date and invoice number */
div#invoiceInfo {
	text-align:right;
	display: block;
	position: absolute;
	right:-12px;
	top:4px;
	margin: 5px 12px 0 0;
}
#invoiceInfo p {
	margin: 4px 0;
	font-size: 14px;
}
#invoiceInfo h1 {
	font-size: 26px;
	color: #888;
	margin:0;
}

/* payer name and address */
div#billTo {
	display: block;
	margin: 20px 0 0 0;
}
#billTo h2 {
	display: block;
	margin: 10px 10px 0 10px;
	padding: 0;
}
#billTo ul {
	display: block;
	margin: 10px;
	padding: 0;
}
/* the nitty gritty of the invoice */
div#lineItems {
	clear: left;
	font-size: 1.2em;
}
#lineItems table {
	width: 760px;
	border-collapse: collapse;
	margin: 0 0 0 10px;
	padding: 10px 10px 0 4px;
}
#lineItems table td, #lineItems table th{
	padding: 10px 20px 10px 0;
}
#lineItems table td {
	border-bottom: 1px solid #ddd;
}
#lineItems table thead{
	border-bottom:1px solid #888;
}
#lineItems table th {
	font-weight: bold;
	text-align: left;
	color: #888;
	margin: 0;
}
#lineItems table tr.totals {
	font-weight: bold;
 	height: 26px;
	vertical-align: bottom;
	background-color:#eee;
}
#lineItems tr.totals th {
	text-align: right;
	background-color: transparent;
	border-bottom: 1px solid #ddd;	
	color: #000;
}

/* payment address and method */
#payment {
	float: left;
	clear: left;
	margin: 10px 0 10px 10px;
	border: 1px solid #999;
	font-size: 1.2em;
	width: 48%;
	height: 100px;	
}
#payment ul {
	float: left;
	display: block;
	margin: 10px;
	padding: 0;
}
#payment p {
	margin: 10px 10px 0 10px;
}
/* how much they owe */
#balanceDue {
	float: right;
	margin: 10px 0;
	padding: 0;
	border: 1px solid #999;	
	width: 48%;	
	height: 100px;	
	text-align: center;
}
#balanceDue p {
	font-size: 1.3em;
	font-weight: bold;
	padding: 10px;
	height: 80px;
	margin: 30px 0;
}