<h1>New customer</h1>

<%= error_messages_for :customer %>

<% if @customer %>
	<% form_for(:customer, :url => customers_path) do |f| %>
		<%= render(:partial => 'form', :object => @customer, 
				:locals => {
					:button_label => 'Create Customer',
					:f => f
				 }) %>
		<%= update_button %>			
	<% end %>

<% else%>
	You cannot add a customer without at least one contact.  Please add a contact first.
<% end %>


<%= link_to 'Back', customers_path %>
